body {
    margin: 0;
}

#reader {
    background-color: rgb(0, 142, 142);
    padding: 5rem;
    text-align: center;
    color: white;
}

button {
    padding: 2rem;
    cursor: pointer;
}

#btnMulher {
    background-color: BlueViolet;
    color: white;
}

#btnHomem {
    background-color: Blue;
    color: white;
}
